@{
    ViewData["Title"] = "Home Page";
}

<article>
    <h2>Mi mascota favorita</h2> 
    <img src="imagen/peruano.jpg" alt="Viaje con Mi Mascota"width="300" height="200"/> <p> </p>
    <p>Mi mascota fue un buen compañero de viaje y de vida, aunque ya no este con vida, lo llevare de viaje siempre en mi corazon</p>
</article>
<article>
    <h2>Mi mascota favorita</h2> 
    <img src="imagen/bolivia.jpg" alt="Viaje con Mi Mascota" width="300" height="200" /> <p> </p>
    <p>A mi mascota le gustaba viajar a bolivia, copacabana</p>
</article>