@{
    ViewData["Title"] = "Home Page";
}

<article>
    <h2>Mi mascota favorita</h2> 
    <img src="imagen/peruano.jpg" alt="Viaje con Mi Mascota" /> <p> </p>
    <p>Mi mascota fue un buen compañero de viaje y de vida, aunque ya no este con vida, lo llevare de viaje siempre en mi corazon</p>
</article>
